@font-face {
  font-family: 'Minecraft';
  src: url('../assets/Monocraft-nerd-fonts-patched.ttf') format('truetype');
}

h1, h2, h3, h4, p, a, li, div {
  font-family: 'Minecraft';
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --panel: #1c1c1c;
  --border: #000;
  --mc-green: #55ff55;
}

body {
  margin: 0;
  background:
    repeating-linear-gradient(
      45deg,
      #1a1a1a 0px,
      #1a1a1a 32px,
      #171717 32px,
      #171717 64px
    );
  color: #eee;
}

/* LOGO */
.logo {
  z-index: 5;
  transition: 0.1s;
}

.logo:hover {
  transform: scale(1.05);
}

/* HERO */
.mc-hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/background-minecraft.jpg');
  background-size: cover;
  background-position: center;
}

/* MENU */
.mc-menu {
  position: sticky;
  top: 0;
  background: #000;
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 14px;
  border-bottom: 4px solid #222;
  z-index: 10;
}

.mc-menu a {
  color: var(--mc-green);
  text-decoration: none;
  font-weight: bold;
  transition: 0.05s;
}

.mc-menu a:hover {
  transform: scale(1.3);
  color: #92df92;
}

/* SECTIONS */
.mc-section {
  max-width: 1000px;
  margin: 80px auto;
  padding: 40px;
  background: var(--panel);
  border: 4px solid #2a2a2a;
  box-shadow: inset 0 0 0 4px var(--border);
}

.mc-section h2 {
  margin-top: 0;
  color: var(--mc-green);
}

/* ROOMS */
.mc-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
}

.mc-tile {
  padding: 30px;
  background: #2a2a2a;
  border: 4px solid #000;
  text-align: center;
}

.mc-tile.secret {
  border-style: dashed;
  color: #aaa;
}

/* LIST */
.mc-list {
  list-style: square;
}

/* GALLERY – VERTIKÁLNÍ */
.mc-gallery-vertical {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.gallery-item h3 {
  margin-bottom: 12px;
  color: var(--mc-green);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border: 4px solid #000;
  box-shadow: inset 0 0 0 4px var(--border);
}

/* FOOTER */
.mc-footer {
  text-align: center;
  padding: 30px;
  background: #000;
  border-top: 4px solid #222;
  color: #aaa;
}
