body {
    margin: 0;
    font-family: 'Minecraft';
    background-color: #1e1e1e;
    color: #ffffff;
}

html{
    scroll-behavior: smooth;
}

@font-face {
  font-family: 'Minecraft'; /* AI Generovaný */
  src: url('../assets/Monocraft-nerd-fonts-patched.ttf') format('truetype'); /* AI Generovaný */
}

.logo {
    width: 25%;
    display: block;
    margin: 0 auto;
    margin-top: -1%;
    transition: 0.1s;
}

.logo:hover{
    transform: scale(1.05);
}

.banner{
    width: 100%;
    height: 25%;
}

h1, h2, h3, p{
    font-family: 'Minecraft';
    text-align: center;
}

h1{
    font-size: 90px;
    margin-bottom: 1%;
}

p{
    font-size: 20px;
}

hr {
    border-width: 10px;
    border-style: solid;
    border-color: rgb(4, 35, 209);
}


header {
    background: #2d3c7d;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    font-size: 18px;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}


.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.box {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background: #111;
    text-align: center;
    padding: 20px;
    color: #aaa;
}