body {
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

@font-face {
  font-family: 'Minecraft'; /* AI Generovaný */
  src: url('../assets/Monocraft-nerd-fonts-patched.ttf') format('truetype'); /* AI Generovaný */
}

.logo {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}

h1, h2, h3, p{
    font-family: 'Minecraft';
    text-align: center;
}

h1{
    font-size: 90px;
    margin-bottom: 1%;
}

p{
    font-size: 20px;
}
